crewai
dotenv
anthropic
PyPDF2
langchain_anthropic
langchain
langchain-ollama
pytesseract
pydantic
langchain_community
gradio 
panda
openpyxl
opencv-python
langchain_openai


#Download uv using this :  powershell -ExecutionPolicy ByPass -c "irm https://astral.sh/uv/install.ps1 | iex"
#"uv tool install crewai" if crewai does not install correctly

